@import 'home';
@import 'vendor/fonts';
//*= require bootstrap-sass/assets/stylesheets/_bootstrap
//*= require_tree ./vendor

@charset "utf-8";



.bad_script {
  font-family: 'Bad Script', cursive;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//*= require_tree .





