


.bad_script {
  font-family: 'Bad Script', cursive;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.home_page {
  background: #d4d4d4 url("../images/home_back.jpg");
}

div.home {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: #d4d4d4 url("../images/home_back.jpg");
  h1.title {
    font-family: 'Qwigley', cursive;
    font-size: 130px;
    text-align: right;
    background: -webkit-linear-gradient(#eee, #333);
    // background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2.blurb {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: right;
    max-width: 300px;
    float: right;
    color: white;
  }

  .recent_articles {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    article {
      h1 a {
        text-decoration: none;
        @extend .bad_script;
      }
      a {
        @extend .bad_script;
      }
    }
  }

}

.articles_list {


  .articles_by_tag {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
    ul {
      list-style: none;
      li {
        text-transform: lowercase;
        h5 a {
          text-decoration: none;
        }
      }
    }
  }

}

.modal_button {
  margin: 3em;
  button {
    font-family: 'Qwigley', cursive;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 40px;
    &:hover {
      background: -webkit-linear-gradient(#eee, #333);
    }
    &:active {
      background-color: white;
      color: black;
    }
  }
}

.modal.fade {
  background: -webkit-linear-gradient(#eee, #333);
  .modal-content {
    // background: #d4d4d4 url("../images/back_design.jpg");

    // background: -webkit-linear-gradient(#1ebf67, #3e4f56);
    color: white;
    .modal-header {
      border: none;
      button span {
        font-size: 40px;
      }
    }

    h1 {
      text-align: center;
      @extend .bad_script;
      font-size: 25px;
    }
  }
}
/*body {
  
  text-align: center;
  font-family: sans-serif; }

div.home {
  background: #d4d4d4 url("../images/background_collage.jpg");
  background-size: 700px;
  max-width: 700px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
}*/

