//Font Class
.bad_script {
  font-family: 'Bad Script', cursive;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.home {
  margin-left: auto;
  margin-right: auto;
  

  .header {
    background: #d4d4d4 url("../images/flower_background.jpg");  
    background-size: cover;
    height: 700px;
    z-index: 999;
    padding-left: 10%;
    // set animation
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    h1.title {
      margin-right: 10%;
      font-family: 'Qwigley', cursive;
      font-size: 130px;
      background: -webkit-linear-gradient(#eee, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 1s linear;
    }

    h2.blurb {
      font-family: 'Poiret One', cursive;
      font-weight: bold;
      font-size: 20px;
      max-width: 300px;
      color: black;
      opacity: 1;
      transition: all 1s ease;
    }
  }

  .header.sticky {
    position: fixed;
    line-height: 48px;
    height: 150px; 
    width: 100%;
    h1.title {
      font-size: 50px;
    }
    h2.blurb {
      opacity: 0;
    }

}

  .recent_articles {
    font-family: 'Poiret One', cursive;
    background: none;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
    transition-delay: 2s;
    margin-top: -200px;
    background: -webkit-linear-gradient(white, #F2F2F2);

    .recent_articles_content {
      max-width: 650px;
      margin-right: auto; 
      margin-left: auto;

      h1.blog_title  {
        font-family: 'Cabin Sketch', cursive;
        font-size: 35px;
      }

      h2.blog_sub_title {
        font-family: 'Poiret One', cursive;
        font-size: 20px;
      }
      article {
        h1 a {
          text-decoration: none;
          font-family: 'Cabin Sketch', cursive;
        }
        a {
          @extend .bad_script;
        }
        p {
          font-size: 18px;
          font-family: 'BenchNine', sans-serif;
          color: gray;
        }
      }
    }
  }

  .recent_articles.show {
    opacity: 0.9;
    transform: translateY(700px);
  }
}

.articles_list {


  .articles_by_tag {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
    ul {
      list-style: none;
      li {
        text-transform: lowercase;
        h5 a {
          text-decoration: none;
        }
      }
    }
  }

}

.modal_button {
  button {
    height: 200px;
    width: 200px;
    font-family: 'Qwigley', cursive;
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    background: -webkit-linear-gradient(none, #eee);
    &:hover {
      font-size: 60px;
      background: none;
    }
    &:active {
      background-color: white;
      color: black;
    }
  }
}

// button.recents_button {
//   background: #d4d4d4 url("../images/home_flower.jpg");
//   height: 400px;
//   width: 400px;
// }

// button.tag_button {
//   background: #d4d4d4 url("../images/home_red_wall.jpg");
//   height: 400px;
//   width: 400px;
// }

.modal.fade {
  background: -webkit-linear-gradient(#eee, #333);
  .modal-content {
    // background: #d4d4d4 url("../images/back_design.jpg");

    // background: -webkit-linear-gradient(#1ebf67, #3e4f56);
    color: white;
    .modal-header {
      border: none;
      button span {
        font-size: 40px;
      }
    }

    h1 {
      text-align: center;
      @extend .bad_script;
      font-size: 25px;
    }
  }
}


