//Font Class
.bad_script {
  font-family: 'Bad Script', cursive;
  background: -webkit-linear-gradient(gray, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #F2F2F2;
}

div.home {
  margin-left: auto;
  margin-right: auto;
  

  .header {
    background: #d4d4d4 url("../images/writing.jpeg");  
    background-size: cover;
    height: 700px;
    z-index: 999;
    padding-left: 10%;
    // set animation
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    h1.title {
      margin-right: 5%;
      font-family: 'Qwigley', cursive;
      font-size: 130px;
      background: -webkit-linear-gradient(gray, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 1s linear;
    }

    h2.blurb {
      font-family: 'Poiret One', cursive;
      font-weight: bold;
      font-size: 20px;
      max-width: 300px;
      color: black;
      opacity: 1;
      transition: all 1s ease;
      text-shadow: 3px 4px 5px white;
    }
  }

  .header.sticky {
    position: fixed;
    line-height: 48px;
    height: 275px; 
    width: 100%;
    -webkit-box-shadow: inset 0px -13px 96px 49px #F2F2F2;
    -moz-box-shadow: inset 0px -13px 96px 49px #F2F2F2;
    box-shadow: inset 0px -13px 96px 49px #F2F2F2;
    h1.title {
      font-size: 50px;
      margin-top: 5%;
    }
    h2.blurb {
      opacity: 0;
    }

}

  .recent_articles {
    font-family: 'Poiret One', cursive;
    background: none;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
    transition-delay: 2s;
    margin-top: -200px;
    background-color: #F2F2F2;
    // background: -webkit-linear-gradient(white, #F2F2F2);

    .recent_articles_content {
      max-width: 650px;
      margin-right: auto; 
      margin-left: auto;

      h1.blog_title  {
        font-family: 'Cabin Sketch', cursive;
        font-size: 35px;
        text-decoration: underline;
        padding-bottom: 5px;
      }

      h2.blog_sub_title {
        font-family: 'Poiret One', cursive;
        font-size: 20px;
      }
      article {
        border-bottom: 3px dotted gray;
        padding-bottom: 20px;
        h1 a {
          text-decoration: none;
          font-family: 'Cabin Sketch', cursive;
        }
        a.more {
          @extend .bad_script;
        }
        p {
          font-size: 18px;
          font-family: 'BenchNine', sans-serif;
          color: gray;
        }
      }
    }
  }

  .recent_articles.show {
    opacity: 0.9;
    transform: translateY(700px);
  }
}

.modal_button {
  button {
    height: 100px;
    width: 200px;
    font-family: 'Qwigley', cursive;
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 3px solid black;
    box-shadow: inset 0px 0px 30px 0px #000;
    &:hover {
      font-size: 50px;
      background: none;
      color: gray;
      background-color: black;
      box-shadow: inset 0px 0px 30px 0px #eee;
      border: 3px solid #eee;
    }
  }
}




