---
title: The Generic Brand of Adult
date: 2016-02-08 00:16 UTC
tags: rants, musings
---

<h1 class="blog_title">The Generic Brand of Adult</h1>
<h2 class="blog_sub_title">Or My Ineptitude at Growth</h2>
<p>I need to learn how to be an adult. I am never going to grow up.</p>
<p>I think I would be hard pressed to find a mother daughter duo that never at least occasionally broke down and screamed at the top of their lungs at each other, spewing whatever venom they could bring to the surface in the moment.</p>