<div class="sidebar_menu">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="sidebar_title">Rants, Reviews, Experience, &amp; Musings</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 sidebar_menu_content">
			<img src="/images/black_design_mirror.jpg"/>
			<div class="most_recents">
				<div class="most_recents_options">
					<% blog.articles[0...5].each do |article| %>
			  		<article>
			  			<%= link_to article.title, article.url %>
			  		</article>
					<% end %>

				</div>
			</div>
<!-- 			<div class="tags">
			</div>
			<div class="tags_options">
				<ul>
				  <% blog.tags.each do |tag, articles| %>
				    <li>
				      <h5><%= tag %></h5>
				      <ul>
				        <% articles.each do |article| %>
				          <li><a href="<%= article.url %>"><%= article.title %></a></li>
				        <% end %>
				      </ul>
				    </li>
				  <% end %>
				</ul> -->
				<!-- <button class="creature">Click Here!</button> -->
<!-- 			</div> -->
		</div>
	</div>
</div>