<div class="sidebar_menu">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="sidebar_title">Rants, Reviews, Experience, &amp; Musings</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 sidebar_menu_content">
			<div class="most_recents">
				<% blog.articles[0...5].each do |article| %>
				<div class="post_name">
			  		<article>
			  			<%= link_to article.title, article.url %>
			  		</article>
			  	</div>
			  	<div class="read_me">
			  		<h1>Read Me</h1>
			  	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>